$cl-primary-1: #659dbd;
$cl-primary-2: #bc986a;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  // font-size: 62.5%;
}

a {
  color: $cl-primary-1;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
  &.nav-sub {
    padding-left: 1rem;

    a {
      color: $cl-primary-2;
    }
  }
}

.form {
  &--lodge {
    display: flex;
    flex-direction: column;
  }
}
